# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Vite cache (IMPORTANTE)
.vite/

# Tailwind cache (IMPORTANTE)
.tailwind/

# PNPM store (si usas pnpm)
.pnpm-store/

# Local env files (seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: si usas TypeScript
*.tsbuildinfo

# Creacion documento de apoyo 
nota.md
